{
  "branches": [
    "main"
  ],
  "repositoryUrl": "git@gitlab.com:bestfoody-tech/bestfoody.git",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/npm"
  ]
}
